:root {
  --base-color: #ffffff;
  --color-hover-text: rgb(0, 0, 0);
  --color-grey: rgb(73 71 71);
  --color-red: rgb(221 78 81);
  --color-dark-red: rgb(143, 26, 28);

  --header-height: 68px;
  --footer-height: 57px;

  --transition: all 0.3s linear;
}
