:root {
  --base-color: #ffffff;
  --color-hover-text: rgb(23, 23, 23);
  --color-grey: rgb(130, 129, 129);
  --color-red: rgb(158, 39, 41);

  --header-height: 68px;
  --footer-height: 57px;

  --transition: all 0.3s linear;
}
